
@import url('https://fonts.googleapis.com/css2?family=DM@1&family=Inter&family=Lobster&family=Noto@0;1&display=swap');

body{
    
    width: 100%;
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


/* common style in css is start from here */
.universal-button{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   background-color: crimson;
   padding: 0px 20px;
   width: fit-content;
   border: none;
   border-radius: 8px;
   font-weight: bold;
   font-size: 15px;
}
#arrow{
    margin-left: 10px;
}
.btn-link{
    height: 35px;
    width: 90%;
    display:block;
    margin: 10px;
    background-color: white;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    padding-top: 8px;
}


.btn-link a{
    color: white;
    padding: 0 20px;
}


.htag-one{
    font-size: 35px;
}

/* common style in css is end from here */


main{
    width: 90%;
    margin: 0 auto;
}

/* galary-start from here */
.galary{
    width: 100%;
    display: flex;
    height: 350px;
    border: none;
    justify-content: space-between;
    background-color: #000000;
    color: white;
    border-radius: 20px;
    margin: 100px 0px;
}

.text-galary{
    width: 50%;
    padding: 15px;
}

.image-galary{
    width: 50%;
}
.image-galary img{
    width: 80%;
    height: 100%;
    float: right;
    border-radius: 50%;
}
.image-galary img:hover{
    transform:scale(0.2) rotate(5000deg) ;
    transition:  2s ;
    
}
/* galary-end from here */

/* preview-start */
.preview{
    display: grid;
    grid-template-columns: 20% 80%;
}

.preview-title{
    width: 70%;
    height: 160px;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    margin-right: 20px;
}

.preview-content{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
}
.content{
    border: 1px solid #c0bdbd;
    border-radius: 10px;
}
.content img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.text-content{
    margin:0px 10px 10px 10px;
}
.transfer{
    margin-top: 10px;
}
.text-content h4{
    margin:10px 0px;
}
.view-and-massege{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* preview-end */

/* view more button */
.view-more-button{
    display: none;
    position: relative;
    margin-left: 45%;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 30px;
    padding: 5px 10px;
    color: white;
    background-color: crimson;
}

/* footer is start from here */
footer{    
    width: 100%;
    margin-top: 50px;
    padding:40px 0px;
    background-color: black;
    text-align: center;
    color: white;
}
footer h2{
    margin: 50px 0px;
}
footer nav ul{
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer nav ul li{
    list-style: none;
    margin: 0 20px;
}
footer nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.fa-facebook-f,.fa-linkedin-in,.fa-twitter{
    margin: 0px 25px;
    font-size: 30px;
    color: white;
}
.fa-facebook-f:hover,.fa-linkedin-in:hover,.fa-twitter:hover{
    transform: scale(1.5);
}

/* footer is end from here */







/* Media query for mobile view/ */
@media only screen and (max-width:576px){
    .galary{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .htag-one{
        font-size: 25px;
    }
    .text-galary p{
        font-size: 14px;
    }
    .text-galary{
        text-align: center;
        width: 90%;        
    }
    .universal-button{
        height: 30px;
        border: none;
    }
    
    .text-galary button{
        margin: 0 auto;
    }
    .image-galary{
        width: 80%;
    }
    .image-galary img{
        width: 80%;
        border-radius: 50%;
    }
    .image-galary img:hover{
        transform:scale(0.2) rotate(5000deg) ;
        transition:  2s ;        
    }

    /* galary is closed here */
    /* preview strted here..... */
    .preview{
        display: flex;
        flex-direction: column;
        height: 100%;   
    }
    .preview-content{
        display: flex;
        width: 100%;   
        flex-direction: column;        
    }
    .preview-title{
        display: flex;
        width: 90%;
        position: static;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }


    /* footer is started here */
    
    footer nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    footer nav ul li{
        text-align: center;
        margin: 20px;
    }
    footer nav ul li a{
    text-align: center;
    }
}



/* for tablet view */
@media only screen and (min-width:577px) and (max-width:768px) {
   
    .galary{
        margin-bottom: 0px;
        height: 380px;
    }
    
    .preview-title{
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 100px;
        position: static;
        border-radius: 10px;
        margin: 50px 0px;
        
    }
    .btn-link{
        padding-top: 20px;
    }
    .preview{
        display: flex;
        flex-direction: column;
        height: 100%;   
    }
    .preview-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;   
        flex-direction: column;        
    }


    /* view buttons hidden div start */
    .content:nth-child(7){
        display: none;
    }
    .content:nth-child(8){
        display: none;
    }
    .content:nth-child(9){
        display: none;
    }
    /* view buttons hidden div start */


    /* view more button */
    .view-more-button{
        display: block;
    }


    footer nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    footer nav ul li{
        text-align: center;
        margin: 20px;
    }
    footer nav ul li a{
    text-align: center;
    }   
    
}